{% extends '@Platform/menu/knp_menu.html.twig' %}

{% block list %}
    {% if not item.parent.parent ?? false %}
        {{ block('children') }}
    {% endif %}
{% endblock %}

{% block item %}
    {% if item.parent.parent %}
        {# Level-2 items #}
        <div class="px-1"><a href="{{ item.uri }}" class="btn btn-light text-dark mx-3 px-3 py-1 shadow-none">{{ item.label }}</a></div>
    {% else %}
        {# Level-1 items #}
        <div class="mt-3 px-2 py-1 rounded"><i class="bi {{  item.extra('icon') ?? 'bi-dot' }} mx-1"></i> {{ item.label }}</div>
        {{ block('list') }}
    {% endif %}
{% endblock %}