{% if controls is defined and controls|length > 0 %}
    {% for control in controls %}
        <a href="{{ control.uri }}"
           class="btn btn-{{ control.extra('type') }} px-4"
        {% for attribute, value in control.attributes %}
            {{ attribute }}="{{ value }}"
        {% endfor %}
        >{{ control.extra('icon') ? ('<i class="bi bi-' ~ control.extra('icon') ~ ' mx-1"></i> ')|raw : '' }}{{ control.label|trans }}</a>
    {% endfor %}
{% endif %}